@media all and (max-width: 1200px) {}

@media all and (max-width: 1080px) {

    .menu-icon {
        display: block;
    }

    .menu-area {
        display: none;
    }

}


@media all and (max-width: 992px) {}

@media all and (max-width: 768px) {
   .topbar-left{
       display:inherit;
       
   }
    .showcase .carousel-body h2 {
        
        font-size: 30px;
        
    }
}

@media all and (max-width: 576px) {}


@media all and (max-width: 480px) {}

@media all and (max-width: 360px) {}
